import React from 'react'
import {View, Text} from 'react-native'

export default function  template = () => {
    return (
        <View>
        <Text>This is a Template </Text>
        </View>
    )
}